:root {
    --header-image: url('https://i.pinimg.com/564x/a5/61/da/a561dadb1375d3880ba415710cc98195.jpg');
    --body-bg-image: url('https://i.pinimg.com/564x/a5/61/da/a561dadb1375d3880ba415710cc98195.jpg');
    /* colors */
    --content: #30D5C8;
}

body {
    font-family: source-code-pro, monospace !important;    margin: 0;
    background-color: #1A181B;
    background-size: 65px;
    color: #30D5C8;
}

* {
    box-sizing: border-box;
}

.titlethang {
    width: 100%;
    border-bottom: 1px dashed #F2DDA4;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.titlethang span {
    background: #1A181B;
    padding-right: 10px;
}

.bod {
    padding: 10px 0px 10px 0px;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: #007EA7;
    font-weight: bold;
}

#header {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    background-image: var(--header-image);
    background-position: center;
    background-size: 100%;
}

#flex {
    display: flex;
}

aside {
    width: 250px;
    padding: 20px;
    font-size: smaller;
}

main {
    flex: 1;
    padding: 20px;
    order: 2;
}

h1, h2, h3 {
    color: #F2DDA4;
}

h1 {
    font-size: 25px;
}

strong, em {
    color: #F2DDA4;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
      
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.postTitle {
    color: #EDC9FF;
}

.postTime {
    color: #EDD3FA;
}

#blogContent p {
    margin: 0px;
}

.arrowed {
    position: relative;
    list-style: none;
}

.arrowed li {
    margin-left: -10px;
}

.arrowed li::before {
    content: "↳";
    position: absolute;
    left: 10px;
}

.dirArr {
    position: relative;
    list-style-type: none;
}

li.dirArr::before {
    content: "→";
    position: absolute;
    left: -13px;
}

code {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #40444b;
    color: white;
    font-variant-numeric: slashed-zero;
}